.App {
  text-align: center;
}

#root {
  height: 400px;
}

span {
  font-size: 30px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2.5px solid white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: black;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: 2.5px solid white;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.navbar div:hover {
  border-bottom: 2.5px solid white;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  cursor: pointer;
}


.btn {
  background: white;
  border: 1px solid black;
  padding: 10px 20px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(115,115,115,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(115,115,115,1);
  box-shadow: 2px 2px 5px 0px rgba(115,115,115,1);
}

.btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.login-form {
  padding: 40px 80px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background: black;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 10px 0 10px;
  font-size: 20px;
  color: white;
}

::placeholder {
  color: white;
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
}

.login-btn {
  
  height: 50px;
  width: 160px;
  margin-top: 40px;
  margin-bottom: -20px;
  font-size: 24px;
  color: white;
  background-color: #151924;
  border: 3.5px solid white;
  border-radius: 30px;
  opacity: 1.0;
  outline: none;
}

.login-btn:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.login-wrapper-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: black;
    align-items: center;
}

.login-form-wrapper {
   display: flex;
    flex-direction: column;
  width: 350px;
  /* height: 100%; */
  /* height: 400px; */
  margin: 1%;
  padding: 0 0 40px 0;
  background-color: white;
  color: white;
  border: 3.5px solid white;
  border-radius: 15px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;

    
}

.tabs a {
  width: 50%;
  padding: 20px 0;
  /* border: 1px solid black; */
  text-align: center;
  text-decoration: none;
}

.active {
  border-top: 5px solid black;
  border-radius: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.login-wrapper-interior {
  border-radius: 15px;
}

.container {
  background: black;
}

.changename-btn {
  height: 50px;
  font-size: 24px;
  color: white;
  background-color: #151924;
  border: 3.5px solid white;
  border-radius: 30px;
  opacity: 1.0;
  outline: none;
}

.account-h1 {
  color: white;
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  height: 50px;
  font-size: 24px;
  color: red;
  background-color: #151924;
  border: 3.5px solid red;
  border-radius: 30px;
  opacity: 1.0;
  outline: none;
}

.success-message {
  color: green;
}

.board-wrapper {
  display: flex;
}

.sidebar-wrapper {
  margin-left: 10px;
}

.sidebar {
  width: 300px;
  border: 1px solid white;
  padding: 10px;
  height: 500px;
}

.side-bar-top {
  background: black;
  height: 300px;
}

.side-bar-top img {
  width: 100px;
  height: 100px;
}

.white-text {
  color: white;
}

.fen-input {
  width: 60%;
  margin-right: 10px;
}

.fen-btn {
  
  /* height: 50px;
  width: 160px;
  margin-top: 40px;
  margin-bottom: -20px; */
  font-size: 14px;
  color: white;
  background-color: #151924;
  border: 3.5px solid white;
  border-radius: 30px;
  opacity: 1.0;
  outline: none;
}

.fen-btn:hover {
  cursor: pointer;
  background: white;
  color: black;
}

svg{
  max-width: 800px;
  width: 100%;
}

.cls-1 {
  isolation: isolate;
}

.cls-2 {
  fill: #cfcfcf;
}

.cls-3 {
  fill: #bcbcbc;
}

.cls-4 {
  fill: #ff0a26;
}

.cls-5 {
  opacity: 0.79;
  mix-blend-mode: multiply;
}

.cls-6 {
  fill: white;
}

.cls-7 {
  fill: gray;
}

.cls-8 {
  fill: #d6d6d6;
}

.cls-9 {
  /* fill: #fff; */
}

.cls-10 {
  /* fill: #666; */
}

.no-margin {
  margin: 0;
  display: inline-block;
}

.gauge-numbers {
  text-align: center;
  font-size: 10px;
}
.gauge1 {
  position: relative;
  top: 150px;
  left: -70px;
}

.gauge2 {
  position: relative;
  top: 80px;
  left: -65px;
}

.gauge3 {
  position: relative;
  top: 42px;
  left: 5px;
}

.gauge4 {
  position: relative;
  top: 80px;
  left: 70px;
}

.gauge5 {
  position: relative;
  top: 150px;
  left: 75px;
}

.rating {
  text-align: center;
  color: lime;
  margin: 0;
}

.centered {
  text-align: center;
}

.marginless {
  margin: 0;
}

.margin-top-only {
  margin: 10px 0 0 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
  /* background-color: gray; */

}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
  /* background-color: gray; */

}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;

}