.App {
  text-align: center;
}

#root {
  height: 400px;
}

span {
  font-size: 30px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2.5px solid white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: black;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: 2.5px solid white;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.navbar div:hover {
  border-bottom: 2.5px solid white;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  cursor: pointer;
}


.btn {
  background: white;
  border: 1px solid black;
  padding: 10px 20px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(115,115,115,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(115,115,115,1);
  box-shadow: 2px 2px 5px 0px rgba(115,115,115,1);
}

.btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.login-form {
  padding: 40px 80px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background: black;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 10px 0 10px;
  font-size: 20px;
  color: white;
}

::placeholder {
  color: white;
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
}

.login-btn {
  
  height: 50px;
  width: 160px;
  margin-top: 40px;
  margin-bottom: -20px;
  font-size: 24px;
  color: white;
  background-color: #151924;
  border: 3.5px solid white;
  border-radius: 30px;
  opacity: 1.0;
  outline: none;
}

.login-btn:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.login-wrapper-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: black;
    align-items: center;
}

.login-form-wrapper {
   display: flex;
    flex-direction: column;
  width: 350px;
  /* height: 100%; */
  /* height: 400px; */
  margin: 1%;
  padding: 0 0 40px 0;
  background-color: white;
  color: white;
  border: 3.5px solid white;
  border-radius: 15px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;

    
}

.tabs a {
  width: 50%;
  padding: 20px 0;
  /* border: 1px solid black; */
  text-align: center;
  text-decoration: none;
}

.active {
  border-top: 5px solid black;
  border-radius: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.login-wrapper-interior {
  border-radius: 15px;
}

.container {
  background: black;
}

.changename-btn {
  height: 50px;
  font-size: 24px;
  color: white;
  background-color: #151924;
  border: 3.5px solid white;
  border-radius: 30px;
  opacity: 1.0;
  outline: none;
}

.account-h1 {
  color: white;
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  height: 50px;
  font-size: 24px;
  color: red;
  background-color: #151924;
  border: 3.5px solid red;
  border-radius: 30px;
  opacity: 1.0;
  outline: none;
}